/* 
	INCIO
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #007973;
	color: black;
	margin: -12px -1px 3px -116px;
	padding: 35px 36px;
	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
	
	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	width: 27%;
	font-family:Arial, Helvetica, sans-serif;
}
	
	.defaultTheme #aToolTipCloseBtn {
	display: block;
    height: 163px;
    margin: 2px;
    outline: medium none;
    padding: 4px;
    position: absolute;
    right: -37px;
    text-indent: -9999px;
    top: -39px;
    width: 452px;
	}
	/* 
	FIM
*/

